<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pika.memories">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_pika_launcher"
        android:label="Memories"
        android:roundIcon="@mipmap/ic_pika_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDark">
        <activity android:name="com.pika.memories.SplashActivity"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pika.memories.EditorActivity" />
        <activity
            android:name="com.pika.memories.Chat"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pika.memories.LoginActivity"
            android:noHistory="true" />
        <activity
            android:name="com.pika.memories.MainActivity"
            android:label="Memories"
            android:theme="@style/AppThemeDark">
        </activity>
    </application>

</manifest>